:root {
    --primary : #123458;
    --bg : #F1EFEC;
}

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
    color: #030303;
}

/* Navbar Start */
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.navbar .logo-infrascan .navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #F1EFEC;
    font-style: italic;
    align-items: center;
}

.logo-infrascan {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-infrascan .logo {
    margin: 0;
}

.navbar .logo {
    margin: 0;
}

.navbar .navbar-logo span{
    color: #030303;
}

.navbar .navbar-nav a{
    color: #F1EFEC;
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color: #030303;
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #030303;
    transform: scaleX(0);
    transition: 0.2s linear;
}


.navbar .navbar-nav a:hover::after{
    transform: scaleY(0.5);
}

.navbar .navbar-search a {
    color: #F1EFEC;
    margin: 0 0.5rem;   
}

.navbar .navbar-search a:hover{
    color: #030303;
}

.navbar .navbar-search input{
    font-family: 'roboto', sans-serif;
    padding: 3px 8px;
    align-content: center;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: 0 5px 13px 0 #123458;
}

#menu {
    display: none;
}
/* Navbar end */

/* halaman utama start */

.utama {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 2rem 7%;
    padding-left: 0%;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
}

.home-content .left img {
    max-width: 100%;
    width: auto;
    height: 100vh;
    object-fit: cover;
    
}

.home-content .right {
    color: #030303;
    max-width: 600px;
}

.home-content .right h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.home-content .right p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.home-content .right .action {
    padding: 0.75rem 1.5rem;
    background-color: var(--primary);
    color: #F1EFEC;
    border-radius: 50px;
    text-decoration: none;
}
.left {
    position: relative;
    width: fit-content;
    max-width: 100%;
}

.left img {
    max-width: 100%;
    height: auto;
    display: block;
}


.left::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px; 
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(255, 255, 255) 100%);
    pointer-events: none;
}

/* halaman utama end */

/* kotak-kotak start */

.kotak-kotak a .bagian-kotak .tempat {
    padding: 1.2rem 7%;
}

.kotak-kotak {
    display: flex;
    align-items: space-between;
    justify-content: center;
    gap: 2rem;
    z-index: 10;
    position: relative;
    margin-top: -40px;
}

.kotak-kotak a {
    border: solid 3px #F1EFEC;
    border-radius: 3%;
    box-shadow: 0 5px 13px 0 #000000;
    padding: 20px;
    background-color: #F1EFEC;
    border-top: #123458 solid 5px;
    color: #123458;
    transition: 1s;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.kotak-kotak a .bagian-kotak .tempat h3 {
    color: #123458;
}
.kotak-kotak a .bagian-kotak .tempat p {
    color: #000000;
}
.kotak-kotak a:hover {
    transform: scale(0.9);
}
/* kotak-kotak end */

/* visi-misi start */

.visi-misi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
    gap: 5rem;
}

.visi-misi .gambar-visi-misi {
    border: solid 3px #F1EFEC;
    border-top: #123458 solid 5px;
    width: 60rem;
    height: 30rem;
    box-shadow: 0 5px 13px 0 #000000;
}
.visi-misi .gambar-visi-misi img{
    width: 23rem;
    height: 29.5rem;
}
.visi-misi .text h1 span {
    color: #123458;
}
.visi-misi .text h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.visi-misi .text p {
    font-size: 1rem;
    line-height: 1.5;
}
/* visi-misi end */

/* footer start */

footer{
    background-color: #123458;
    padding: 0;
    padding-bottom: 0;
}
footer .socialicons {
    display: flex;
    justify-content: center;
}
footer .socialicons a{
    text-decoration: none;
    padding: 5px;
    background-color: #fff;
    margin: 10px;
    border-radius: 60%;
    color: #123458;
    font-size: 1em;
}
footer .socialicons a:hover {
    background-color: #185393;
    transition: 0.5s;
    color: #F1EFEC; 
}
footer .footernav .ul {
    display: flex;
    justify-content: center;
}
footer .footernav .ul a {
    text-decoration: none;
    color: #F1EFEC;
    margin: 10px;
    opacity: 0.7;
    transition: 0.5s;
}
footer .footernav .ul a:hover {
    opacity: 1;
}
footer .footerbottom {
    background-color: #0e2742;
    padding: 0.3rem;
    color: #F1EFEC;
    text-align: center;
}
footer .footerbottom p span{
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0.5px;
}


/* footer end */

/* Responsif sesuai media */
/* laptop */
@media (max-width: 1366px){
    html {
        font-size: 100%;
    }
}
/* laptop end */

/* tablet */
@media (max-width: 758px){
    html {
        font-size: 75%;
    }
    #menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--primary);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }
    .navbar .navbar-nav a {
        color: #F1EFEC;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    .home-content {
        justify-content: center;
    }
    .home-content .left img {
        display: none;
    }
    .kotak-kotak {
        margin-top: -200px;
    }
    .visi-misi .gambar-visi-misi {
        width: 40rem;
        height: 20rem;
    }
    .visi-misi .gambar-visi-misi img{
        width: 20rem;
        height: 19.3rem;
    }
    footer .socialicons a {
        padding: 5px;
        margin: 5px;
    }
/* tablet end */

/* handphone */
@media (max-width: 450px){
    .navbar-logo {
        font-size: 65%;
    }
    .visi-misi .gambar-visi-misi {
        width: 20rem;
        height: 10rem;
    }
    .visi-misi {
        gap: 1rem;
        padding: 1rem;
    }
    .visi-misi .text h1{
        font-size: 2rem;
    }
    .visi-misi .text p {
        font-size: 0.8rem;
    }
    .visi-misi .gambar-visi-misi img{
        width: 19rem;
        height: 9.4rem;
    }
    .kotak-kotak {
    flex-direction: column;
    align-items: center;
    margin-top: -50%;
    }
    .kotak-kotak a {
        width: 80%;
        height: 10%;
    }
    
}
}
/* handphone end */
/* responsif media end */