:root {
    --primary : #123458;
    --bg : #F1EFEC;
}

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
    color: #030303;
}

/* Navbar Start */
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.navbar .logo-infrascan .navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #F1EFEC;
    font-style: italic;
    align-items: center;
}

.logo-infrascan {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-infrascan .logo {
    margin: 0;
}

.navbar .logo {
    margin: 0;
}

.navbar .navbar-logo span{
    color: #030303;
}

.navbar .navbar-nav a{
    color: #F1EFEC;
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color: #030303;
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #030303;
    transform: scaleX(0);
    transition: 0.2s linear;
}


.navbar .navbar-nav a:hover::after{
    transform: scaleY(0.5);
}

.navbar .navbar-search a {
    color: #F1EFEC;
    margin: 0 0.5rem;   
}

.navbar .navbar-search a:hover{
    color: #030303;
}

.navbar .navbar-search input{
    font-family: 'roboto', sans-serif;
    padding: 3px 8px;
    align-content: center;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: 0 5px 13px 0 #123458;
}

#menu {
    display: none;
}
/* Navbar end */

/* report start */

.report {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.report .report-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.report .report-right video {
    height: 300px;
    box-shadow: 0 3px 13px 0 #00000092
}
.report .report-left .report-left-title h1{
    font-weight: 600;
    color: #123458;
    font-size: 40px;
    margin-bottom: 5px;
}
.report .report-left .report-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #123458;
    border-radius: 10px;
    margin-bottom: 20px;
}
.report .report-left .report-input {
    width: 400px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #123458;
    border-radius: 50px;
    box-shadow: 0 3px 13px 0 #00000092
}
.report .report-left .text-area {
    width: 400px;
    height: 140px;
    padding-top: 15px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #123458;
    border-radius: 20px;
    box-shadow: 0 3px 13px 0 #00000092
}
.report .report-left .report-input:focus {
    border: 2px solid #123458;
}
.report .report-left .text-area:focus {
    border: 2px solid #123458;    
}
.report .report-left button {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    font-size: 10px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right,#123458,#01ffff);
    cursor: pointer;
    box-shadow: 0 3px 13px 0 #00000092
}
.report .report-left button:hover {
    transform: scale(0.9);
}
.report .report-left input[type="file"] {
    display: none;
}
.report .report-left label {
    display: inline-block;
    color: #fff;
    text-align: center;
    background-color: #123458;
    padding: 10px 40px;
    letter-spacing: 1.5px;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 0 3px 13px 0 #00000092;
    border-radius: 20px;
}
.report .report-left label:hover {
    transform: scale(0.9);
}

/* report end */

/* footer start */

footer{
    background-color: #123458;
    padding: 0;
    padding-bottom: 0;
}
footer .socialicons {
    display: flex;
    justify-content: center;
}
footer .socialicons a{
    text-decoration: none;
    padding: 5px;
    background-color: #fff;
    margin: 10px;
    border-radius: 60%;
    color: #123458;
    font-size: 1em;
}
footer .socialicons a:hover {
    background-color: #185393;
    transition: 0.5s;
    color: #F1EFEC; 
}
footer .footernav .ul {
    display: flex;
    justify-content: center;
}
footer .footernav .ul a {
    text-decoration: none;
    color: #F1EFEC;
    margin: 10px;
    opacity: 0.7;
    transition: 0.5s;
}
footer .footernav .ul a:hover {
    opacity: 1;
}
footer .footerbottom {
    background-color: #0e2742;
    padding: 0.3rem;
    color: #F1EFEC;
    text-align: center;
}
footer .footerbottom p span{
    opacity: 0.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 0.5px;
}


/* footer end */    

/* Responsif sesuai media */
/* laptop */
@media (max-width: 1366px){
    html {
        font-size: 100%;
    }
}
/* laptop end */

/* tablet */
@media (max-width: 758px){
    html {
        font-size: 75%;
    }
    #menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--primary);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }
    .navbar .navbar-nav a {
        color: #F1EFEC;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
    footer .socialicons a {
        padding: 5px;
        margin: 5px;
    }
    .report .report-right video {
        position: fixed; 
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        z-index: -1;
    }
    .navbar .navbar-search input {
        width: 200px;
    }
    
}
/* tablet end */

/* handphone */
@media (max-width: 600px){
    .navbar-logo {
        font-size: 65%;
    }
    .navbar .navbar-search input {
        width: 90px;
    }
}
/* handphone end */
/* responsif media end */