:root {
    --primary : #123458;
    --bg : #F1EFEC;
}

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
    color: #030303;
}

/* Navbar Start */
 .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    background-color: rgba(18, 52, 88, 0.8);
    border-bottom: 5px solid #f1efecd0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}

.navbar .logo-infrascan .navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #F1EFEC;
    font-style: italic;
    align-items: center;
}

.logo-infrascan {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-infrascan .logo {
    margin: 0;
}

.navbar .logo {
    margin: 0;
}

.navbar .navbar-logo span{
    color: #030303;
}

.navbar .navbar-nav a{
    color: #F1EFEC;
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    color: #030303;
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #030303;
    transform: scaleX(0);
    transition: 0.2s linear;
}


.navbar .navbar-nav a:hover::after{
    transform: scaleY(0.5);
}

.navbar .navbar-search a {
    color: #F1EFEC;
    margin: 0 0.5rem;   
}

.navbar .navbar-search a:hover{
    color: #030303;
}

.navbar .navbar-search input{
    font-family: 'roboto', sans-serif;
    padding: 3px 8px;
    align-content: center;
    border-radius: 50px;
    border: none;
    outline: none;
    box-shadow: 0 5px 13px 0 #123458;
}

#menu {
    display: none;
}
/* Navbar end */

/* Responsif sesuai media */
/* laptop */
@media (max-width: 1366px){
    html {
        font-size: 100%;
    }
}
/* laptop end */

/* tablet */
@media (max-width: 758px){
    html {
        font-size: 75%;
    }
    #menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--primary);
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }
    .navbar .navbar-nav.active {
        right: 0;
    }
    .navbar .navbar-nav a {
        color: #F1EFEC;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

}
/* tablet end */

/* handphone */
@media (max-width: 450px){
    html {
        font-size: 45%;
    }
}
/* handphone end */
/* responsif media end */